@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* styles/globals.css */
.custom-input-range::-webkit-slider-runnable-track {
  background-color: rgb(243, 244, 247); /* Changer la couleur de la barre ici */
  border-radius: 10px;
}

img {
  max-width: none !important;
}

h1 {
  color: white;
}

.texti {
  color: white;
}

h2 {
  color: black;
}

.occ,
.acc {
  color: black;
}

body {
  font-family: "Inter", sans-serif;
}


@media screen and (max-width: 425px) {
  .mecano {
    height: 170px;
    width: 200px;
  }

  .logo {
    height: 100px;
    width: 150px;
    margin-top: 30px;
  }

  .gerant {
    font-size: large;

  }
  .fond {
    margin-top: 30px;
  }
  .pub {
    margin-bottom: 25px;
    font-weight: 500;
  }

  .avis {
    margin-top: 50px;
    gap: 20px;
  }

  .tel1,
  .tel2 {
    height: 300px;
    width: 300px;
  }
}




@media screen and (min-device-width: 768px) and (max-device-width: 478px) {

.logo{
  margin-left: 50px !important;
}

}

@media screen and (min-device-width: 320px) and (max-device-width: 425px) {
  .ecran {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 425px) {
  .vt1,
  .vt2,
  .vt3,
  .vt4 {
    height: 200px;
    width: 200px;
    margin-top: 10px;
  }

  .occ,
  .acc,
  .ucc {

    margin: 20px;
    padding: 5px;
    margin-left: 20px;
    
   
  }

  .top {
    margin-top: 50px;
  }

  .gal1,
  .gal2 {
    margin-top: -80px;
  }

  .filtre {
    margin-top: -100px;
  }

  .sign {
    margin-top: 40px;
  }

  .gerant {
    font-size: 20px;
  
  }

  .ct {
    width: 200px;
  }

  .av {
    width: 200px;
  }

  .dh {
    font-size: 10px;
  }

}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .pub {
    margin-left: 10px;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 425px) {
  .fond {
    margin-top: -120px;
  }

  .top {
    margin-top: 80px;
  }

  .tel1 {
    margin-top: 510px;
  }

  .he {
    width: 300px;
  }
}



.gerant {
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 10px;
  background-color: #29bb9c;
  color: white;
  margin: 80px;
}

.foot {
  background-color: rgb(249 250 251);
}

.parler {
  resize: none;
}

.avis {
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  background-color: #29bb9c;
  color: white;
}

.mess {
  resize: none;
}
